@use "../../../../../../assets/scss/abstracts/colors" as *;

.select-menu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 270px;

  .select-btn,
  .options {
    box-shadow: 0 2.58px 2.58px rgba(0, 0, 0, 0.25);
  }


  .select-btn {
    display: flex;
    height: 55px;
    background: $secondary;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    .sBtn-content {
      display: flex;

      > img {
        width: 30px;
        margin-right: 50px;
      }

      .sBtn-text {
        display: flex;
        align-items: center;
        font-size: 22px;
        color: $primary;
      }
    }

    svg {
      transition: 0.3s;
    }
  }

  .options {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    background: $secondary;

    .option {
      display: flex;
      height: 55px;
      cursor: pointer;
      padding: 30px;
      align-items: center;
      background: $secondary;
      border-bottom: 1px dashed $primary;
      &:first-child {
        border-radius: 8px 8px 0 0;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
        border-bottom: none;
      }

      &:hover {
        //border: none;
        background-color: $primary;

        .option-text {

          color: #ffffff;
        }
      }


      img {
        width: 40px;
        margin-right: 50px;
      }

      .option-text {
        font-size: 22px;
        color: $primary;
      }
    }
  }

  &.active {
    .select-btn {
      svg {
        transform: rotate(-180deg);
        transform-origin: center;
        transition: 0.3s;
      }
    }
  }

  &.selected {
    .select-btn {
      background-color: $primary;

      .text-xl {
        color: #fff;
      }

      .sBtn-text {
        color: #fff;
      }
    }

  }
}



