.auth{
  display: flex;
  height: 100vh;
  padding-left: 15rem;
  .auth-form{
    flex: 1;
    max-width: calc(640px + 2rem);
  }
  > img{
    flex: 1;
    Width: 60%;
    height: fit-content;
    place-self: end;
  }

}