@font-face{
    font-family: "Sofia Pro Black";
    src: url("../fonts/SofiaProBlack.ttf");
}

@font-face{
    font-family: "Sofia Pro Bold";
    src: url("../fonts/SofiaProBold.ttf");
}

@font-face{
    font-family: "Sofia Pro Light";
    src: url("../fonts/SofiaProLight.ttf");
}

@font-face{
    font-family: "Sofia Pro Medium";
    src: url("../fonts/SofiaProMedium.ttf");
}

@font-face{
    font-family: "Sofia Pro Regular";
    src: url("../fonts/SofiaProRegular.ttf");
}

@font-face{
    font-family: "Sofia Pro Semi Bold";
    src: url("../fonts/SofiaProSemiBold.ttf");
}