@use "./abstracts/colors" as *;
@import "variables.modules";

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin sans";
}

p {
  font-family: "Fira sans";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

button {
  font-family: "Karla";
}
