@use "./abstracts/fonts" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: $title;
}

p{
    font-family: $paragraph;
}

button{
    font-family: $component;
}
