main {
    section {
        //height: 100vh;
        padding: 120px 0 50px;

    }
}

@media screen and (min-width:650px) {
    main {
        section {
            padding: 2rem 0;
            height: 100vh;
        }
    }
}