@use '../../../assets/scss/abstracts/colors' as *;

.input-field {
  display: flex;
  flex-direction: column;
  &:has(input[id="password"]) {
    grid-column: 1/3;
  }
  label {
    font-size: 1.2rem;
    color: $text-secondary;
  }

  .MuiInputBase-root {
    border-radius: 0.7em;
    margin: 1rem 0 0 0;
    .MuiInputAdornment-root{
      margin-right: 1rem;
    }
    input{
      padding-left: 2rem;
      font-size: .8em;
    }

  }


}