/*border: 16px solid;

border-image-source: linear-gradient(180deg, rgba(245, 71, 72, 0) 57.72%, #FDC55E 112.46%);*/

@use "../../../../../../assets/scss/abstracts/colors" as *;

.meal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  .card-header {
    //margin: 0 auto;
    position: relative;
    border-radius: 50%;
    color: white;
    width: 200px;
    height: 200px;

    .card-img {
      overflow: hidden;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid white;

      img {
        transform: translateY(-50px);
      }
      p{
        position: absolute;
        color: $light;
        z-index: 1;
        width: 60px;
        height: 60px;
        background: $secondary;
        display: grid;
        place-items: center;
        border-radius: 50%;
        border: 3px solid $light;
        transform: translateY(-150px) translateX(130px);


      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 230px;
      height: 230px;
      top: -15px;
      left: -15px;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(0deg, rgba(253, 197, 94, 0) 57.72%, rgba(245, 71, 72, .5) 112.46% );
    }
  }

  .card-content {
    height: 370px;
    width: 310px;
    z-index: -1;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0) -31.53%, rgba(245, 71, 72, .3) 400%);
    border-radius: 20px;
    margin-top: -100px;
    //transform: translateY(-100px);
    padding: 7rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .content-headline {

      display: flex;
      align-items: center;
      padding: 0 10%;
      gap: 1em;

      .rating {
        display: flex;
        gap: .5em;
        svg {
          color: #FFB800;
          font-size: 1.5em;
        }

        p {
          font-family: "Sofia Pro Medium";
          font-size: 1.1em;
        }
      }
    }
    h5{
      font-family: "Sofia Pro Semi Bold";
      color: $primary;
      text-align: center;
    }
    >p{
      text-align: center;
      padding: 0 1.5rem;
    }
  }
  >button{
    margin-top: -30px;
    border-radius: 2rem;
  }
}