@font-face{
    font-family: "Josefin sans";
    src: url("../../assets/fonts/JosefinSans-SemiBold.ttf");
}

@font-face{
    font-family: "Fira sans";
    src: url("../../assets/fonts/FiraSans-Regular.ttf");
}

@font-face{
    font-family: "Karla";
    src: url("../../assets/fonts/Karla-Bold.ttf");
}

$title: "Josefin sans";
$paragraph: "Fira sans";
$component: "Karla";
